{% load static %}
<section class="container-sec" id="about">
    <div class="image">
        <img id="image" src="{% static 'images/about.jpg' %}" alt="image"/>
    </div>
    <div class="content">
        <h1 class="title" id="title">About Us:</h1>
        <h2 class="subheader" id="subheader">Welcome to Our Boutique Autosupply</h2>
        <p class="description" id="description">At AutoSupply, we aim to simplify the process of finding high-quality, affordable vehicle spare parts. Our mission is to provide a convenient and reliable platform, ensuring vehicle owners and repair shops have access to the best products with excellent customer service.</p>
    </div>
</section>