{% load static %}
<section class="service" id="service">
    <div class="service-container">
        <p class="sec-subheader">WHY CHOOSE US</p>
        <h2 class="sec-header">Great Service</h2>
        <div class="ser-grid" id="service-grid">
            {% for s in services %}
                <div class="service__card visible">
                    <img src="{{ s.image.url }}"
                         alt="{{ s.description }}"
                         loading="lazy">
                    <h4>{{ s.title}}</h4>
                    <p>{{ s.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>